responsive-grid(name)
  .row
    >.{name}-0
      width 0

    >.{name}-1
      width 8.333333333333332%

    >.{name}-2
      width 16.666666666666664%

    >.{name}-3
      width 25%

    >.{name}-4
      width 33.33333333333333%

    >.{name}-5
      width 41.66666666666667%

    >.{name}-6
      width 50%

    >.{name}-7
      width 58.333333333333336%

    >.{name}-8
      width 66.66666666666666%

    >.{name}-9
      width 75%

    >.{name}-10
      width 83.33333333333334%

    >.{name}-11
      width 91.66666666666666%

    >.{name}-12
      width 100%

    >.{name}-offset-0
      margin-left 0

    >.{name}-offset-1
      margin-left 8.333333333333332%

    >.{name}-offset-2
      margin-left 16.666666666666664%

    >.{name}-offset-3
      margin-left 25%

    >.{name}-offset-4
      margin-left 33.33333333333333%

    >.{name}-offset-5
      margin-left 41.66666666666667%

    >.{name}-offset-6
      margin-left 50%

    >.{name}-offset-7
      margin-left 58.333333333333336%

    >.{name}-offset-8
      margin-left 66.66666666666666%

    >.{name}-offset-9
      margin-left 75%

    >.{name}-offset-10
      margin-left 83.33333333333334%

    >.{name}-offset-11
      margin-left 91.66666666666666%

    >.{name}-offset-12
      margin-left 100%

bonus(device)
  .{device}-padding-0
    padding 0

  .{device}-margin-0
    margin 0

  .{device}-border-0
    border-top none
    border-right none
    border-bottom none
    border-left none
