.row{margin-left:-15px;margin-right:-15px;}
.row:before,.row:after{display:table;content:" ";line-height:0}
.row:after{clear:both}
.row.closure,.row.collapse{margin-left:0;margin-right:0;}
.row.closure >*,.row.collapse >*{padding-left:0;padding-right:0}
.row >*{float:left;min-height:1px;position:relative;padding-left:15px;padding-right:15px;box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.row >.centered{margin-left:auto;margin-right:auto;float:none}
.row >.desktop0{width:0}
.row >.desktop-1{width:8.333333333333332%}
.row >.desktop-2{width:16.666666666666664%}
.row >.desktop-3{width:25%}
.row >.desktop-4{width:33.33333333333333%}
.row >.desktop-5{width:41.66666666666667%}
.row >.desktop-6{width:50%}
.row >.desktop-7{width:58.333333333333336%}
.row >.desktop-8{width:66.66666666666666%}
.row >.desktop-9{width:75%}
.row >.desktop-10{width:83.33333333333334%}
.row >.desktop-11{width:91.66666666666666%}
.row >.desktop-12{width:100%}
.row >.desktop-offset-0{margin-left:0}
.row >.desktop-offset-1{margin-left:8.333333333333332%}
.row >.desktop-offset-2{margin-left:16.666666666666664%}
.row >.desktop-offset-3{margin-left:25%}
.row >.desktop-offset-4{margin-left:33.33333333333333%}
.row >.desktop-offset-5{margin-left:41.66666666666667%}
.row >.desktop-offset-6{margin-left:50%}
.row >.desktop-offset-7{margin-left:58.333333333333336%}
.row >.desktop-offset-8{margin-left:66.66666666666666%}
.row >.desktop-offset-9{margin-left:75%}
.row >.desktop-offset-10{margin-left:83.33333333333334%}
.row >.desktop-offset-11{margin-left:91.66666666666666%}
.row >.desktop-offset-12{margin-left:100%}
@media (max-width: 1020px){.row >.tablet0{width:0}
.row >.tablet-1{width:8.333333333333332%}
.row >.tablet-2{width:16.666666666666664%}
.row >.tablet-3{width:25%}
.row >.tablet-4{width:33.33333333333333%}
.row >.tablet-5{width:41.66666666666667%}
.row >.tablet-6{width:50%}
.row >.tablet-7{width:58.333333333333336%}
.row >.tablet-8{width:66.66666666666666%}
.row >.tablet-9{width:75%}
.row >.tablet-10{width:83.33333333333334%}
.row >.tablet-11{width:91.66666666666666%}
.row >.tablet-12{width:100%}
.row >.tablet-offset-0{margin-left:0}
.row >.tablet-offset-1{margin-left:8.333333333333332%}
.row >.tablet-offset-2{margin-left:16.666666666666664%}
.row >.tablet-offset-3{margin-left:25%}
.row >.tablet-offset-4{margin-left:33.33333333333333%}
.row >.tablet-offset-5{margin-left:41.66666666666667%}
.row >.tablet-offset-6{margin-left:50%}
.row >.tablet-offset-7{margin-left:58.333333333333336%}
.row >.tablet-offset-8{margin-left:66.66666666666666%}
.row >.tablet-offset-9{margin-left:75%}
.row >.tablet-offset-10{margin-left:83.33333333333334%}
.row >.tablet-offset-11{margin-left:91.66666666666666%}
.row >.tablet-offset-12{margin-left:100%}
}@media (max-width: 640px){.row >.mobile0{width:0}
.row >.mobile-1{width:8.333333333333332%}
.row >.mobile-2{width:16.666666666666664%}
.row >.mobile-3{width:25%}
.row >.mobile-4{width:33.33333333333333%}
.row >.mobile-5{width:41.66666666666667%}
.row >.mobile-6{width:50%}
.row >.mobile-7{width:58.333333333333336%}
.row >.mobile-8{width:66.66666666666666%}
.row >.mobile-9{width:75%}
.row >.mobile-10{width:83.33333333333334%}
.row >.mobile-11{width:91.66666666666666%}
.row >.mobile-12{width:100%}
.row >.mobile-offset-0{margin-left:0}
.row >.mobile-offset-1{margin-left:8.333333333333332%}
.row >.mobile-offset-2{margin-left:16.666666666666664%}
.row >.mobile-offset-3{margin-left:25%}
.row >.mobile-offset-4{margin-left:33.33333333333333%}
.row >.mobile-offset-5{margin-left:41.66666666666667%}
.row >.mobile-offset-6{margin-left:50%}
.row >.mobile-offset-7{margin-left:58.333333333333336%}
.row >.mobile-offset-8{margin-left:66.66666666666666%}
.row >.mobile-offset-9{margin-left:75%}
.row >.mobile-offset-10{margin-left:83.33333333333334%}
.row >.mobile-offset-11{margin-left:91.66666666666666%}
.row >.mobile-offset-12{margin-left:100%}
}